/* WP SAVE BUTTON */
.czr-api-dirty input#save {
    background-color: #FFBD2E;
    border-color: #d99400;
    color: black;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.czr-api-dirty input#save:hover {
    background-color: #fcad06;
}


/* HEADER AND SCOPE SWITCHER */
.czr-skop-on .wp-full-overlay-sidebar .wp-full-overlay-header {
  height: 185px;
}
.czr-skop-on .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
  top: 185px;
}
.wp-customizer .in-sub-panel .wp-full-overlay-sidebar .wp-full-overlay-header {
  padding: 0 15px;
}
.customize-controls-close {
  border-bottom: 1px solid #ddd;
}




.czr-scope-switcher {
  width: 105%;
  float: right;
  position: relative;
  right: -2%;
}
h2.czr-current-skope-title {
  font-size: 14px;
  line-height: 21px;
  margin: 5px 0;
  text-align: center;
  min-height: 55px;
  font-weight:normal;
}
span.czr-skope-title {
    font-size: 13px;
    font-style: italic;
}
.czr-scope-switcher .button {
  float: left;
  width: 40%;
  text-align: center;
  margin: 0 2%;
  opacity: 0.7;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.czr-scope-switcher .button.active {
  font-weight: bold;
  opacity: 1;
}
.czr-scope-switcher .active {
  opacity: 1;
}
.czr-scope {
    float: left;
    width: 30.5%;
    margin-left: 1.5%;
    background: #fff;
    border: 1px solid #cccccc;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    opacity: 0.6;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.czr-scope-header, .czr-scope-footer {
    width: 100%;
    min-height: 16px;
}
.czr-scope-content {
    height: 30px;
    padding: 0 1%;
    width: 98%;
    line-height: 30px;
    text-align: center;
    clear: both;
    color: #000;
    overflow: hidden;
}
.czr-scope-content h4 {
    margin: 0;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    line-height: 15px;
}
.czr-scope .fa {
    font-size: 10px;
    padding: 2%;
    color: #999;
    cursor: pointer;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.czr-scope .czr-scope-footer .info {
  cursor: inherit;
}
.czr-scope-header .czr-scope-switch {
    font-size: 22px;
    padding: 0 2px 0 0;
}

.czr-pull-left {
  float: left;
}
.czr-pull-right {
  float: right;
}


/* DIALOG BOX REACTIONS */
.active .czr-scope-switch {
  color: #82b965;
  cursor:inherit;
}

.czr-scope .czr-scope-reset {
  /*opacity: 0;*/
  display: none;

}
.has-db-val .czr-scope-reset {
  color: #00a0d2;
}
.dirty .czr-scope-reset {
  color: #FFBD2E!important;
}
.is_winner .czr-scope-winner {
  color: #82b965;
}


/**************************************
******* RESET */
/* RESET COMMONS */
.czr-resetting {
  visibility: hidden;
}
.czr-reset-success, .czr-reset-fail {
  display: none;
}
.czr-spinner {
  background: url(img/czr-spinner.gif) no-repeat;
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  display: inline-block;
  float: right;
  vertical-align: middle;
  opacity: 0.7;
  filter: alpha(opacity=70);
  width: 32px;
  height: 32px;
  margin: 4px 10px 0;
}


/* SINGLE CONTROL RESET */
.customize-control span.customize-control-title {
  padding-left: 16px;
  position: relative;
}
.czr-setting-reset {
  color: #eee;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  position: absolute;
  left: 0px;
  line-height: 21px;
  display: none;
}

.has-db-val .czr-setting-reset {
  color: #00a0d2;
}
.is-dirty .czr-setting-reset {
  color: #FFBD2E!important;
}
.czr-ctrl-reset-warning .czr-spinner {
  display: none;
}
.czr-resetting-control .czr-ctrl-reset-warning .czr-spinner {
  display: block;
}

/* RESET */
/* WP TEXT EDITOR */
#czr-reset-skope-pane {
  border-bottom: solid 1px #ddd;
  position: absolute;
  min-height: 100%;
  text-align: center;
  padding: 2%;
  top : -100%;
  right: 0;
  left: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.63);
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
}
.czr-reset-content {
    display: inline-block;
    line-height: 20px;
}

#czr-reset-skope-pane h2 {
  color: #fff;
}
body.czr-reset-skope-pane-open #czr-reset-skope-pane {
  top: 0;
  visibility: inherit;
  min-height: 100%;
}

body.czr-reset-skope-pane-open #customize-preview, body.czr-reset-skope-pane-open .wp-full-overlay-sidebar {
  opacity: 0.5;
}

body.czr-resetting-skope #czr-reset-skope-pane .czr-resetting {
  visibility: visible;
}

.czr-reset-skope-pane-open .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  z-index: 30;
}
.czr-reset-skope-pane-open .wp-full-overlay.expanded .collapse-sidebar {
  bottom: 0 !important;
}