/* WP SAVE BUTTON */
.czr-api-dirty input#save {
    background-color: #FFBD2E;
    border-color: #d99400;
    color: black;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.czr-api-dirty input#save:hover {
    background-color: #fcad06;
}


/* HEADER AND SCOPE SWITCHER */
.czr-skop-on .wp-full-overlay-sidebar .wp-full-overlay-header {
  height: 185px;
}
.czr-skop-on .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
  top: 185px;
}
.wp-customizer .in-sub-panel .wp-full-overlay-sidebar .wp-full-overlay-header {
  padding: 0 15px;
}
.customize-controls-close {
  border-bottom: 1px solid #ddd;
}



.wp-customizer #customize-header-actions {
  border-bottom: 0px;
}
.czr-scope-switcher {
  width: 100%;
  float: right;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.czr-scope-switcher .czr-skp-permanent-title {
  position: relative;
  color: #5f5f5f;
}
#customize-header-actions .czr-scope-switcher .spinner {
  float: none;
  display: none;
  margin: 0px;
  left: -26px;
  top: 0px;
  position: absolute;
  visibility: visible;
}
h2.czr-current-skope-title {
  font-size: 13px;
  line-height: 21px;
  margin: 5px 0;
  text-align: center;
  height: 63px;
  font-weight:normal;
  overflow: hidden;
}

.czr-skope-title {
  display: block;
  font-size: 17px;
  font-style: italic;
  line-height: 25px;
}
.czr-skope-inherits-from {
    font-size: 12px;
    line-height: 18px;
    display: block;
    color: #5f5f5f;
}
.czr-scope-switcher .button {
  float: left;
  width: 40%;
  text-align: center;
  margin: 0 2%;
  opacity: 0.7;
  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}
.czr-scope-switcher .button.active {
  font-weight: bold;
  opacity: 1;
}
.czr-scope-switcher .active, .czr-scope-switcher .czr-scope:hover {
  opacity: 1;
  /*border-bottom: 2px solid #52ff3f;*/
}
.czr-skopes-wrapper {
    overflow: hidden;
    position: relative;
}
.czr-scope.active:before {
    height: 101%;
    float: left;
    position: absolute;
    z-index: 1;
    content: '';
    -webkit-box-shadow : -4px 0px 15px 0px rgba(119, 119, 119, 0.58);
    box-shadow: -4px 0px 15px 0px rgba(119, 119, 119, 0.58);
    top: 0;
}
.czr-scope-switcher .active:after {
    content: '';
    height: 100%;
    position: absolute;
    -webkit-box-shadow : 4px 0px 15px 0px rgba(119, 119, 119, 0.58);
    box-shadow: 4px 0px 15px 0px rgba(119, 119, 119, 0.58);
    top: 0;
    z-index: 3;
}
.czr-scope-switcher .czr-scope:last-child:after {
    -webkit-box-shadow :none;
    box-shadow: none;
    right: 0;
}
.czr-scope-switcher .czr-scope:first-child:after {
    left: 0;
}
.czr-scope {
    float: left;
    width: 30.5%;
    /*margin-left: 1.5%;*/
    background: #fff;
    /*border-bottom: 2px solid #cccccc;*/
    border-top: 1px solid #cccccc;
    /*-webkit-border-radius: 3px;
    border-radius: 3px;*/
    overflow: hidden;
    opacity: 0.65;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

/* LAYOUTS */
.czr-scope-switcher .width-100, .czr-scope.width-100.active:before, .czr-scope.width-100.active:after { width: 100%; }
.czr-scope-switcher .width-50, .czr-scope.width-50.active:before, .czr-scope.width-50.active:after { width: 50%; }
.czr-scope-switcher .width-33, .czr-scope.width-33.active:before, .czr-scope.width-33.active:after { width: 33.33%; }
.czr-scope-switcher .width-25, .czr-scope.width-25.active:before, .czr-scope.width-25.active:after { width: 25%; }

.czr-scope-header, .czr-scope-footer {
    width: 100%;
    min-height: 16px;
    position: relative;
    z-index: 5;
}
.inactive .czr-scope-footer:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 5px;
    bottom: -7px;
    left: 0;
    -webkit-box-shadow : 0px 0px 13px 4px rgba(119, 119, 119, 0.85);
    box-shadow: 0px 0px 13px 4px rgba(119, 119, 119, 0.85);
}
.czr-scope-content {
    height: 35px;
    padding: 0 4%;
    width: 92%;
    line-height: 35px;
    text-align: center;
    clear: both;
    color: #000;
    overflow: hidden;
}
.czr-scope-content h4 {
    margin: 0;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}
.czr-scope .fa {
    font-size: 10px;
    padding: 2%;
    color: #585858;
    cursor: pointer;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}
.czr-scope .czr-scope-footer .info {
  cursor: inherit;
}
.czr-scope-header .czr-scope-switch {
    font-size: 22px;
    padding: 0 2px 0 0;
    text-shadow: 1px 1px 2px white;
}

.czr-pull-left {
  float: left;
}
.czr-pull-right {
  float: right;
}


/* DIALOG BOX REACTIONS */
.active .czr-scope-switch {
  color: #52ff3f;
  cursor:inherit;
}

.czr-scope .czr-scope-reset {
  /*opacity: 0;*/
  display: none;
  font-size: 15px;
  text-shadow: 1px 1px 0px #a0a0a0;

}
.has-db-val .czr-scope-reset {
  color: #00a0d2;
}
.dirty .czr-scope-reset {
  color: #FFBD2E!important;
}
.is_winner .czr-scope-winner {
  color: #52ff3f;
}

/* Underline skope switch text in control notices and in the main skope switcher title */
.czr-skope-notice .czr-skope-switch, .czr-scope-switcher .czr-skope-switch {
  cursor: pointer;
  text-decoration: underline;
}

/**************************************
******* RESET */
/* RESET COMMONS */
/*.czr-resetting {
  visibility: hidden;
}*/
.czr-reset-success, .czr-reset-fail {
  display: none;
}
.czr-spinner {
  background: url(img/czr-spinner.gif) no-repeat;
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  display: inline-block;
  float: right;
  vertical-align: middle;
  opacity: 0.7;
  filter: alpha(opacity=70);
  width: 32px;
  height: 32px;
  margin: 4px 10px 0;
}


/* SINGLE CONTROL RESET */
.customize-control.czr-skoped span.customize-control-title {
  padding-left: 16px;
  -webkit-transition: left, right, 0.3s ease-in-out;
  -moz-transition: left, right, 0.3s ease-in-out;
  -ms-transition: left, right, 0.3s ease-in-out;
  -o-transition: left, right, 0.3s ease-in-out;
  transition: left, right, 0.3s ease-in-out;
  position: relative;
}
.czr-setting-reset {
  color: #eee;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  position: absolute;
  left: 0px;
  line-height: 21px;
  display: none;
  text-shadow: 1px 1px 0px #a0a0a0;
}

.has-db-val .czr-setting-reset {
  color: #00a0d2;
}
.is-dirty .czr-setting-reset {
  color: #FFBD2E!important;
}
.czr-ctrl-reset-warning .czr-spinner {
  display: none;
}
.czr-resetting-control .czr-ctrl-reset-warning .czr-spinner {
  display: block;
}

/* RESET ALERTS */
.is-dirty .czr-remove-alert-wrapper {
  background-color: rgba(255, 189, 46, 0.54)!important;
  border: 1px solid #FFBD2E!important;
  text-shadow:none;
  color: #000;
}

.has-db-val .czr-remove-alert-wrapper {
  background-color: rgba(0, 160, 210, 0.45);
  border: 1px solid #00a0d2;
  text-shadow:none;
  color: #000;
}


/* RESET */
/* WP TEXT EDITOR */
#czr-reset-skope-pane {
  border-bottom: solid 1px #ddd;
  position: absolute;
  min-height: 100%;
  text-align: center;
  padding: 2%;
  top : -100%;
  right: 0;
  left: 0;
  z-index: 20;
  background: rgba(0, 0, 0, 0.63);
  color: #fff;
  display: block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  visibility: hidden;
}
.czr-reset-content {
    display: inline-block;
    line-height: 20px;
}

#czr-reset-skope-pane h2 {
  color: #fff;
}
body.czr-reset-skope-pane-open #czr-reset-skope-pane {
  top: 0;
  visibility: inherit;
  min-height: 100%;
}

body.czr-reset-skope-pane-open #customize-preview, body.czr-reset-skope-pane-open .wp-full-overlay-sidebar {
  opacity: 0.5;
}

body.czr-resetting-skope #czr-reset-skope-pane .czr-resetting {
  visibility: visible;
}

.czr-reset-skope-pane-open .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
  z-index: 30;
}
.czr-reset-skope-pane-open .wp-full-overlay.expanded .collapse-sidebar {
  bottom: 0 !important;
}


/* CONTROL INFOS */
.customize-control .czr-skope-notice {
  color: #357315;
}

.czr-toggle-notice {
  color: #95a5a6;
  text-shadow: 1px 1px 0px white;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  position: absolute;
  padding-left: 3px;
  line-height: 21px;
  display: none;
}
.czr-notice-visible .czr-toggle-notice, .czr-toggle-notice:hover {
  color: #357315;
}



/* Error Notification */
.wp-full-overlay-header, .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content {
    -webkit-transition: height, top, .4s ease-in-out;
    -moz-transition: height, top, .4s ease-in-out;
    -ms-transition: height, top, .4s ease-in-out;
    -o-transition: height, top, .4s ease-in-out;
    transition: height, top, .4s ease-in-out;
}
.czr-server-notice {
    width: calc(96% - 2px);
    top: 0;
    text-align: center;
    background: rgba(0, 156, 0, 0.18);
    border: 1px solid green;
    color: #000;
    display: none;
    position: relative;
    line-height: 21px;
    padding: 2%;
}
.czr-server-notice.czr-server-error {
    color: #000;
    border-color: red;
    background: rgba(255, 0, 0, 0.24);
}

.czr-dismiss-notification {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

/*ickeck specifics */
.wp-customizer .icheckbox_flat-grey, .wp-customizer .iradio_flat-grey {
    border: 1px solid white;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color : white;
}

/* SKOPE PAINTING */
.czr-painted {
    -webkit-transition: background .3s ease-in-out!important;
    -moz-transition: background .3s ease-in-out!important;
    -ms-transition: background .3s ease-in-out!important;
    -o-transition: background .3s ease-in-out!important;
    transition: background .3s ease-in-out!important;
}


