
.in-sub-panel #czr-donate-customizer,
 .in-sub-panel .czr-cta-wrap {
   left: -450px;
   height: 0;
 }


.rtl .in-sub-panel #czr-donate-customizer,
 .rtl .in-sub-panel .czr-cta-wrap {
   right: -450px;
 }


@media screen and (max-width: 1400px) {

  .in-sub-panel #czr-donate-customizer,
  .in-sub-panel .czr-cta-wrap {
    left: -380px;
  }

  .rtl .in-sub-panel #czr-donate-customizer,
  .rtl .in-sub-panel .czr-cta-wrap {
    right: -380px;
  }
}




@media screen and (max-width: 979px) {


  .in-sub-panel #czr-donate-customizer,
  .in-sub-panel .czr-cta-wrap {
    left: -300px;
  }

  .rtl .in-sub-panel #czr-donate-customizer,
  .rtl .in-sub-panel .czr-cta-wrap {
    right: -300px;
  }
}

/* at max-width 640px the wp-full-overlay-sidebar becomes 100% */
 @media screen and (max-width: 640px) {
   .in-sub-panel .czr-cta-wrap,
   .in-sub-panel #czr-donate-customizer {
     left: -100%;
   }

   .rtl .in-sub-panel #czr-donate-customizer,
   .rtl .in-sub-panel .czr-cta-wrap {
     right: -100%;
     left: auto;
   }
 }

 @media screen and (min-width: 980px) {
  .wp-customizer .expanded #customize-footer-actions {
      width: 380px;
  }
}

@media screen and (min-width: 1401px) {
  .wp-customizer .expanded #customize-footer-actions {
      width: 440px;
  }
}
